html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: #4a5568 #000000;
}

body {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  -ms-overflow-style: none;
    background: linear-gradient(
    -45deg, 
    #000000, 
    #171242, 
    #0b1b3a, 
    #0f0524,
    #000000
  );
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #171242, #3b82f6);
  border-radius: 5px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2a2375, #60a5fa);
}

.containerapp {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  width: 100%;
}

.main-contentapp {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  
  background: linear-gradient(
    -45deg, 
    #000000, 
    #171242, 
    #0b1b3a, 
    #0f0524,
    #000000
  );
  background-size: 400% 400%;
  animation: deepSpaceGradient 15s ease infinite;
}

@keyframes deepSpaceGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}